/*body {
	background-color: tomato;
}*/

main {
	display: flex;
	justify-content: center;
}
h1, h3	{
	text-align: center;
}



.redText {
	color: red;
}

.blueText {
	color: blue;
}

.greenText {
	color: green;
}